allow cameraserver mm-qcamerad:unix_dgram_socket sendto;
allow cameraserver mm-qcamerad:unix_stream_socket connectto;
allow cameraserver camera_data_file:sock_file write;
allow cameraserver gpu_device:chr_file rw_file_perms;
allow cameraserver rootfs:lnk_file getattr;
allow cameraserver sysfs_camera_torch:file rw_file_perms;
allow cameraserver sysfs_camera_torch:dir search;
allow cameraserver sysfs_camera_torch:lnk_file read;
allow cameraserver ta_data_file:dir search;
allow cameraserver secd:unix_stream_socket connectto;
allow cameraserver secd_socket:sock_file write;

