allow kernel device:dir create_dir_perms;
allow kernel tmpfs:file create_file_perms;
allow kernel tmpfs:dir create_dir_perms;
allow kernel rootfs:file rx_file_perms;
allow kernel block_device:blk_file rw_file_perms;
allow kernel touchfusion_exec:file relabelto;

allow kernel self:socket create;

domain_auto_trans(kernel, touchfusion_exec, touchfusion)

# Access firmware_file
r_dir_file(kernel, firmware_file)
