type secd, domain, domain_deprecated;
type secd_exec, exec_type, file_type;

# Started by init
init_daemon_domain(secd)

allow secd tad:unix_stream_socket connectto;
allow secd tad_socket:sock_file write;
allow secd tee_device:chr_file { ioctl open read write };
allow secd secd_data_file:file { lock open write create getattr read setattr unlink };
allow secd secd_data_file:dir { rw_file_perms add_name remove_name search };
