type uim, domain;

rw_dir_file(uim, sysfs)
rw_dir_file(uim, brcm_ldisc_sysfs)
rw_dir_file(uim, bluetooth_data_file)
rw_dir_file(uim, sysfs_bluetooth_writable)
allow uim brcm_uim_exec:file { entrypoint getattr read execute };
allow uim hci_attach_dev:chr_file { read write ioctl open };
allow uim self:capability { net_admin dac_override };
allow uim rootfs:lnk_file getattr;
