<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cyanogenmod.smartstyle"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />

    <supports-screens android:anyDensity="true" />

    <application
        android:label="SmartStyle"
        android:persistent="true">

        <receiver android:name="org.cyanogenmod.smartstyle.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name="CoverObserver" android:permission="CoverObserver">
            <intent-filter>
                <action android:name="CoverObserver"/>
            </intent-filter>
        </service>

    </application>

</manifest>
