# Copyright (c) 2014 Sony Mobile Communications Inc.
#
# init.sony-platform.rc
#

on init
    # SONY: Start the TrimArea Daemon. It must be started before fota-ua
    wait /dev/block/mmcblk0p1
    chown root root /dev/block/mmcblk0p1
    chmod 0770 /dev/block/mmcblk0p1

    # Enable ramdumps from subsystems to dump
    # venus ssr
    write /sys/bus/msm_subsys/devices/subsys0/restart_level "RELATED"
    # adsp ssr
    write /sys/bus/msm_subsys/devices/subsys1/restart_level "RELATED"
    # modem ssr
    write /sys/bus/msm_subsys/devices/subsys2/restart_level "RELATED"
    
    # bcm_wlan ssr
    write /sys/module/bcm_wlan_ramdump/parameters/enable_ssr_dump 1

on fs
    # mount LTA-Label here as from Kitakami the mount path is changed.
    mkdir /lta-label 0555 system system
    wait /dev/block/bootdevice/by-name/LTALabel
    mount ext4 /dev/block/bootdevice/by-name/LTALabel /lta-label nosuid nodev noatime noexec ro barrier=0 context=u:object_r:lta_label:s0
    chown system system /lta-label
    chmod 0555 /lta-label

on post-fs
    # MHL driver. To support MHL power off charge,
    # the insmod must be done before chargemon.
    # CURRENTLY DISABLED
    #chown system system /sys/devices/virtual/mhl/ga/connected_ver
    #chown system system /sys/devices/virtual/mhl/ga/connected_cable
    #chown system system /sys/devices/virtual/mhl/ga/monitor_name
    #chown system system /sys/devices/virtual/mhl/ga/manufacturer_name

    # for MHL Thermal
    #chown system system /sys/devices/virtual/mhl/thermal/forced_stop
    #chmod 0220 /sys/devices/virtual/mhl/thermal/forced_stop

    # System setting access from white balance app into fb.
    chown system graphics /dev/graphics/fb0
    chown system graphics /dev/graphics/fb1
    chown system graphics /dev/graphics/fb2

    chmod 0440 /sys/class/power_supply/bms/battery_type

on post-fs-data
    # SONY: Start early TA-users
    mkdir /data/etc 0755 root shell
    exec /system/bin/taimport

    # Create directory for sfs
    mkdir /data/sfs 0700 system system

    # led RGB
    chown system system /sys/class/leds/rgb/sync_state
    chown system system /sys/class/leds/rgb/start_blink
    chown system system /sys/class/leds/led:rgb_red/brightness
    chown system system /sys/class/leds/led:rgb_red/lut_pwm
    chown system system /sys/class/leds/led:rgb_red/step_duration
    chown system system /sys/class/leds/led:rgb_red/pause_lo_multi
    chown system system /sys/class/leds/led:rgb_red/pause_hi_multi
    chown system system /sys/class/leds/led:rgb_green/brightness
    chown system system /sys/class/leds/led:rgb_green/lut_pwm
    chown system system /sys/class/leds/led:rgb_green/step_duration
    chown system system /sys/class/leds/led:rgb_green/pause_lo_multi
    chown system system /sys/class/leds/led:rgb_green/pause_hi_multi
    chown system system /sys/class/leds/led:rgb_blue/brightness
    chown system system /sys/class/leds/led:rgb_blue/lut_pwm
    chown system system /sys/class/leds/led:rgb_blue/step_duration
    chown system system /sys/class/leds/led:rgb_blue/pause_lo_multi
    chown system system /sys/class/leds/led:rgb_blue/pause_hi_multi

    # panel ID
    chown system system /sys/devices/mdss_dsi_panel/panel_id
    chmod 0440 /sys/devices/mdss_dsi_panel/panel_id

    # SONY: Import MiscTA to System properties
    exec /system/bin/taimport property

on post-fs-data
    # taimport ready, use this as trigger for multi-cdf-symlinker
    setprop init.taimport.ready true

    # SONY: Camera
    chown media camera /sys/devices/sony_camera_0/info
    chmod 0770 /sys/devices/sony_camera_0/info
    chown media camera /sys/devices/sony_camera_1/info
    chmod 0770 /sys/devices/sony_camera_1/info

    # create directory for scd
    mkdir /dev/socket/scd 0755 system system
    mkdir /data/scd 0755 system system

    # Allow javadumper to access dropbox!
    mkdir /data/system/dropbox system system
    chmod 0750 /data/system/dropbox

    # SONY: Create directory for partial dump
    mkdir /data/crashdata 0770 root system

    # Restore the security context for dump directories
    
    exec u:r:restorecon:s0 -- /system/bin/restorecon -RF /data/crashdata/

    # Execute post dumper to move the partial tlcore from /idd to /data
    exec /system/bin/post_dumper -m

    # create directory for illumination service
    mkdir /data/illumination_service 0770 system system

    # SONY: Create a dir on data partition not to be deleted during mr and wipedata
    mkdir /data/persist 0770 persist_rw persist_rw

    # create directory for dtcpip plug-ins - give drm the read/write access to
    # the following directory.
    mkdir /data/dtcpip 0770 system drmrpc

    # Create directory to store logs
    mkdir /data/system/log 0770 root system
    chown root system /data/system/log
    chmod 0770 /data/system/log

# Starting from M, SIM PIN cache functionality uses only one location for its
# cached data to remove not needed maintenance of two locations.
# Temporary solution is done that copies the data to the new location so SIM PIN
# cache functionality works when upgrading from L or older to M.
on post-fs-data
    copy /data/pc/cache_0.dat /cache/pc/cache_0.dat
    copy /data/pc/cache_1.dat /cache/pc/cache_1.dat
    chown radio radio /cache/pc/cache_0.dat
    chown radio radio /cache/pc/cache_1.dat
    rm /data/pc/cache_0.dat
    rm /data/pc/cache_1.dat
    rmdir /data/pc

on early-boot
    exec u:r:touch_fw_update:s0 -- /system/bin/sh /system/etc/touch_fw_update.sh

on boot
    # SONY: Enable Sony RIC
    mount securityfs securityfs /sys/kernel/security nosuid nodev noexec

    # SONY: Native dumper via corepattern
    write /proc/sys/kernel/core_pattern "|/system/bin/nativedumper -c %p %e %s %t"

    # SONY: Enable wakeup irq module
    write /sys/devices/platform/wakeup_debug.0/enable 1

    # for USB HOST
    chown system system /sys/module/qpnp_smbcharger_extension/parameters/id_polling_timeout
    chown system system /sys/module/qpnp_smbcharger_extension/parameters/start_id_polling
    chmod 0660 /sys/module/qpnp_smbcharger_extension/parameters/id_polling_timeout
    chmod 0660 /sys/module/qpnp_smbcharger_extension/parameters/start_id_polling

    write /sys/module/qpnp_smbcharger_extension/parameters/id_polling_timeout 30000
    write /sys/module/qpnp_smbcharger_extension/parameters/start_id_polling 1

    # Relabel to that brcm-uim-sysfs access to files which is created by brcm_hci_ldisc.ko
    restorecon_recursive /sys/devices/platform/bcm_ldisc/

on property:gsm.nitz.time=*
    start scdnotifier_nitz

# SONY: TrimArea Daemon
# Last 2 args: start block(blk size 128k), number of blocks(partitionsize(kb)/128(kb))
service tad_static /sbin/tad_static /dev/block/bootdevice/by-name/TA 0,16
    class core
    user root
    group root
    socket tad stream 0660 system system

service updatemiscta /system/bin/updatemiscta
    class main
    user updatemiscta
    group trimarea
    oneshot

# Trim Area QMI service
service ta_qmi_service /system/bin/ta_qmi_service
    user root
    class main

# Secure Config Transfer service
service sct_service /system/bin/sct_service
    user root
    class main

service illumination /system/bin/illumination_service
    socket illumination stream 0660 system system
    class main
    user system
    group system

# Secure Clock service
service scd /system/bin/scd
    class late_start
    user system
    group system

service scdnotifier_nitz /system/bin/scdnotifier nitz
    class main
    user system
    group system
    oneshot
    disabled

on property:init.svc.surfaceflinger=stopped
    stop illumination

on property:init.svc.surfaceflinger=running
    start illumination

# Modem Log QMI service
service mlog_qmi_service /system/bin/mlog_qmi_service
    user root
    class main

# brcm-uim-sysfs (BT/FM/ANT+)
#service uim /system/bin/brcm-uim-sysfs
#    class late_start
#    user root
#    group bluetooth net_bt_admin net_bt

on property:init.svc.bootanim=running
    restorecon_recursive /sys/devices/platform/bcm_ldisc/

import init.sony.rc
