# Copyright (c) 2014 Sony Mobile Communications Inc.
#
# product common configuration
#
import init.sony-platform.rc

on post-fs
    # Touch
    mkdir /dev/socket/tfsw 0770 system system

on post-fs-data
    # Enterprise API configuration
    setprop ro.support.irda 0

on boot
    # PM8994 flash
    chown media system /sys/class/misc/pmi8994-flash/device/current1
    chown media system /sys/class/misc/pmi8994-flash/device/current2
    chown media system /sys/class/misc/pmi8994-flash/device/fault_status
    chown media system /sys/class/misc/pmi8994-flash/device/fine_current1
    chown media system /sys/class/misc/pmi8994-flash/device/fine_current2
    chown media system /sys/class/misc/pmi8994-flash/device/flash_timer
    chown media system /sys/class/misc/pmi8994-flash/device/mask_clamp_current
    chown media system /sys/class/misc/pmi8994-flash/device/mask_enable
    chown media system /sys/class/misc/pmi8994-flash/device/max_current
    chown media system /sys/class/misc/pmi8994-flash/device/mode
    chown media system /sys/class/misc/pmi8994-flash/device/startup_delay
    chown media system /sys/class/misc/pmi8994-flash/device/strobe
    chown media system /sys/class/misc/pmi8994-flash/device/vph_pwr_droop

    # Cover mode
    chown system system /sys/devices/virtual/input/clearpad/cover_mode_enabled
    chown system system /sys/devices/virtual/input/clearpad/cover_win_bottom
    chown system system /sys/devices/virtual/input/clearpad/cover_win_left
    chown system system /sys/devices/virtual/input/clearpad/cover_win_right
    chown system system /sys/devices/virtual/input/clearpad/cover_win_top

   # Touch filter
    chown system system /system/etc/tfswinfo/default.tfswinfo
    chmod 0600          /system/etc/tfswinfo/default.tfswinfo

# Touch
on property:persist.sys.touch.glove_mode=0
    write /sys/devices/virtual/input/clearpad/glove 0

on property:persist.sys.touch.glove_mode=1
    write /sys/devices/virtual/input/clearpad/glove 1

on property:sys.screen_on=0
    write /sys/devices/virtual/input/clearpad/screen_status 0

on property:sys.screen_on=1
    write /sys/devices/virtual/input/clearpad/screen_status 1

on property:persist.sys.touch.easywakeup=0
    write /sys/devices/virtual/input/clearpad/wakeup_gesture 0

on property:persist.sys.touch.easywakeup=1
    write /sys/devices/virtual/input/clearpad/wakeup_gesture 1

on property:init.svc.illumination=running
    start touchscreend

on property:init.svc.illumination=stopped
    stop touchscreend

on property:sys.cover_state=0
    write /sys/devices/virtual/input/clearpad/cover_status 0

on property:sys.cover_state=1
    write /sys/devices/virtual/input/clearpad/cover_status 1

service touchscreend /system/bin/touchscreend
    disabled
    user system
    group system
    class core

service kobjeventd /system/bin/kobjeventd
    user system
    group system
    class main

# SmartcardService UICCterminal Daemon
service ssuiccd /system/bin/ssuiccd
    class main
    user radio
    group radio
    socket ssuiccd stream 0666 smartcard smartcard
