# Copyright (c) 2013 Sony Mobile Communications Inc.

on init
    mkdir /tmp
    mount tmpfs tmpfs /tmp nosuid mode=0755,uid=0,gid=0
    chmod 0664 /proc/rdtag
    
    chown root system /proc/rdtag

on post-fs-data
    mkdir /data/credmgr 0770 system credmgr_client
    mkdir /data/tombstones 0755 system system
    mkdir /data/tombstones/vendor 0775 system system
    chmod 0775 /data/tombstones/vendor
    mkdir /data/app-skin 0771 system system
    mkdir /data/smime 0770 root smime_keystore
    mkdir /data/pc 0700 radio radio
    mkdir /cache/pc 0770 radio system
    mkdir /persist/pc 0770 radio system
    mkdir /data/mediaserver 0740 media media
    # Remove lost+found in user and userdebug
    start cleanlostfound
    
    mkdir /mnt/idd/lost+found 0770 root root
    mkdir /mnt/idd/output 0755 idd idd
    mkdir /mnt/idd/socket 0711 idd idd
    mkdir /mnt/idd/startup-prober 0700 root root
    
    restorecon_recursive /mnt/idd
    mkdir /mnt/rca/plugins 0750 idd idd
    restorecon_recursive /mnt/rca

on boot
    # Disable C_A_D
    write /proc/sys/kernel/ctrl-alt-del 0

    # NFC local data and storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

